body {
    background: rgb(126, 126, 233);
    font: normal 15pt Arial;

}

header {
    color: aquamarine;
    text-align: center;


}

section {
    background: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;



}

footer {
    color: aquamarine;
    text-align: center;
    font-style: italic;

}

.tecla{
    width: 50px;
    height: 50px;
    background-color: cadetblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.num{
    font-size: 24px;
    font-weight: bold;

}